<% posts.sort((a, b) => typeof isTopic == "undefined" && typeof isSingle == "undefined" ? b.rts - a.rts : a.rts - b.rts).map(post => { %>
  <% if (!post.value.content.text) return %>
  <% if (post.value.deleted) return %>

  <% if (post.value.hidden) { %>
    <div class="post">
      Post not visible either because you have hidden it, blocked the user or they are not in your extended friends range
    </div>
    <% return %>
  <% } %>

  <% splittedPosts(post.value, typeof isTopic == "undefined" ? 140 : 10000).map(text => { %>
    <div class="post <%= typeof key != "undefined" && key == post.key ? "post-focused" : "" %>">
      <div>
        <a href="<%= profileUrl(post.value.author) %>">
          <img src="<%= profileImageUrl(post.value.authorProfile) %>" class="post-profile-pic" />
        </a>
      </div>
      <div class="post-content">
        <div style="float: right">
          <button class="post-more-button button-transparent js-open-popup"><div class="arrow-down-icon"></div></button>
          <% if (post.value.author == context.profile.id) { %>
            <div class="popup-menu">
              <button class="popup-menu-item js-delete" data-key="<%= post.key %>">Delete</button>
            </div>
          <% } else { %>
            <div class="popup-menu">
              <button class="popup-menu-item js-hide" data-key="<%= post.key %>">Hide</button>
              <button class="popup-menu-item js-flag" data-key="<%= post.key %>">Flag</button>
            </div>
          <% } %>
        </div>
        <a href="<%= profileUrl(post.value.author) %>" class="no-link-style">
          <b><%= post.value.authorProfile.name %></b>
        </a>
        <%- htmlify(text.replace(/^\s+/, "")) %>
        <div class="meta-info">
          <% if (typeof isTopic == "undefined") { %>
            <a href="/post/<%= post.key.replace("%", "") %>">
              <%= timeSince(post.rts) %>
            </a>
          <% } else { %>
            <%= timeSince(post.rts) %>
          <% } %>
          <% if (typeof isTopic == "undefined" && post.value.content.inReplyTo) { %>
            <a href="/post/<%= getBranchKey(post).replace("%", "") %>">
              in reply to <%= post.value.content.inReplyTo.name %>
            </a>
          <% } %>
          <% if (typeof isTopic == "undefined" && typeof isSingle == "undefined") { %>
            <a class="post-reply" href="javascript:replyTo('<%= encodeURIComponent(post.value.author) %>', '<%= post.value.authorProfile.name %>', '<%= encodeURIComponent(post.key) %>', '<%= encodeURIComponent(post.value.content.root || post.key) %>');">
              ⬅️ Reply
            </a>
          <% } %>
        </div>
      </div>
    </div>
  <% }) %>
<% }) %>