<% posts.sort((a, b) => typeof isTopic == "undefined" ? b.rts - a.rts : a.rts - b.rts).map(post => { %>
  <% if (!post.value.content.text) return %>

  <% splittedPosts(post.value, typeof isTopic == "undefined" ? 140 : 10000).map(text => { %>
    <div class="post">
      <div>
        <a href="<%= profileUrl(post.value.author) %>">
          <img src="<%= profileImageUrl(post.value.authorProfile) %>" class="post-profile-pic" />
        </a>
      </div>
      <div class="post-content">
        <a href="<%= profileUrl(post.value.author) %>" class="no-link-style">
          <b><%= post.value.authorProfile.name %></b>
        </a>
        <%- htmlify(text.replace(/^\s+/, "")) %>
        <div class="meta-info">
          <%= timeSince(new Date(post.rts)) %>
          <% if (post.value.content.inReplyTo) { %>
            in reply to <%= post.value.content.inReplyTo.name %>
          <% } %>
          <a class="post-reply" href="javascript:replyTo('<%= encodeURIComponent(post.value.author) %>', '<%= post.value.authorProfile.name %>', '<%= encodeURIComponent(post.key) %>', '<%= encodeURIComponent(post.value.content.root || post.key) %>');">
            ⬅️ Reply
          </a>
        </div>
      </div>
    </div>
  <% }) %>
<% }) %>