<div class="columns" style="justify-content: space-between; align-items: baseline; padding-bottom: 5px">
  <h2>Topics</h2>
  <a class="button" href="/communities/<%= community.name %>/new">New Topic</a>
</div>
<% posts.map(post => { %>
  <a href="/communities/<%= community.name %>/<%= post.key.replace("%", "") %>" class="columns community-topic-link">
    <div class="community-topic-name">
      <%= topicTitle(post.value) %>
    </div>
    <div class="community-topic-replies">💬 <%= post.value.replies.length %> replies</div>
  </a>
<% }) %>