<%- include('../_header') %>

<h1 style="margin-bottom: 10px">My communities</h1>

<% if (participating.length == 0) { %>
  <p>You haven't joined any communities yet, explore some below to join</p>
<% } %>
<% participating.map(community => { %>
  <a href="/mobile/communities/<%= community %>" class="link-block">
    #<%= community %>
  </a>
<% }) %>

<h1 style="margin-top: 40px; margin-bottom: 10px">Explore</h1>

<% communities.map(community => { %>
  <a href="/mobile/communities/<%= community %>" class="link-block">
    #<%= community %>
  </a>
<% }) %>

<%- include('../_footer') %>