<%- include('_header') %>

<form action="publish" method="POST">
  <textarea name="message"></textarea>
  <input type="submit" value="Send" />
</form>

<% entries.map(entry => { %>
  <% if (entry.content.type == "post") { %>
    <div><%= entry.authorName %>: <%= entry.content.text %></div>
  <% } else if (entry.content.type == "contact") { %>
    <div><%= entry.authorName %> followed <%= entry.content.contactName %></div>
  <% } %>
<% }) %>

<%- include('_footer') %>