<%- include('_header') %>

<form action="publish" method="POST">
  <textarea name="message"></textarea>
  <input type="submit" value="Send" />
</form>

<% posts.map(entry => { %>
  <div><%= entry.authorName %>: <%= entry.content.text %></div>
  <hr />
<% }) %>

<h2>All People</h2>

<ul>
  <% people.map(person => { %>
    <li><%= person.content.name %> (<%= person.author.slice(0, 8) %>)</li>
  <% }) %>
</ul>

<h2>Friends</h2>

<ul>
  <% friends.map(friend => { %>
    <li><%= friend.content.contactName %> (<%= friend.content.contact.slice(0, 8) %>)</li>
  <% }) %>
</ul>

<%- include('_footer') %>