<%- include('_header', { main_class: "screen-center" }) %>

<div class="columns">
  <div class="wall" style="border-radius: 5px 0 0 5px">
    <div class="columns">
      <div>
        <img class="profile-pic" src="<%= profileImageUrl(profile) %>" />
      </div>
      <div style="padding-left: 20px">
        <div class="columns" style="align-items: center;">
          <h1><%= profile.name %></h1>
          <% if (friendshipStatus == "friends") { %>
            <div style="margin-left: 14px">✅ Friends</div>
          <% } %>
        </div>
        <div style="margin-bottom: 20px;"><%= profile.description %></div>

        <% if (friendshipStatus == "request_received") { %>
          <p><%= profile.name %> sent you a friendship request</p>
        <% } else if (friendshipStatus == "request_rejected") { %>
          <p>You rejected <%= profile.name %> friendship request</p>
        <% } %>

        <div class="columns profile-actions">
          <% if (friendshipStatus == "no_relation") { %>
            <form action="<%= profileUrl(profile.id, "/add_friend") %>" method="POST">
              <input type="submit" class="button-blue" value="Add as friend" />
            </form>
          <% } else if (friendshipStatus == "friends") { %>
            <form action="<%= profileUrl(profile.id, "/reject_friend") %>" method="POST">
              <input type="submit" value="Undo Friendship" />
            </form>
          <% } else if (friendshipStatus == "request_sent") { %>
            <form action="<%= profileUrl(profile.id, "/reject_friend") %>" method="POST">
              <button class="button-secondary undo-request">Request sent</button>
            </form>
          <% } else if (friendshipStatus == "request_received") { %>
            <form action="<%= profileUrl(profile.id, "/add_friend") %>" method="POST">
              <input type="submit" class="button-blue" value="Accept" />
            </form>
            <form action="<%= profileUrl(profile.id, "/reject_friend") %>" method="POST" style="margin-left: 5px">
              <input type="submit" value="Reject" />
            </form>
          <% } else if (friendshipStatus == "request_rejected") { %>
            <form action="<%= profileUrl(profile.id, "/add_friend") %>" method="POST">
              <input type="submit" value="Add as friend" />
            </form>
          <% } %>

          <button class="button-yellow js-compose-secret-message" style="margin-left: 5px" data-url="<%= profileUrl(profile.id, "/publish_secret") %>">
            👻 Secret Message
          </button>
          <%- include('secrets/_compose_single') %>
        </div>
      </div>
    </div>

    <form action="<%= profileUrl(profile.id, "/publish") %>" method="POST" style="padding-top: 20px;">
      <textarea name="message" class="compose-post"></textarea>
      <div class="reverse-columns" style="margin-top: 10px">
        <input type="submit" value="Publish" />
      </div>
    </form>

    <h2 style="margin: 0"><%= profile.name %>'s Wall</h2>
    <div style="padding-top: 15px;">
      <% if (posts.length == 0) { %>
        <div class="post">
          No posts yet
        </div>
      <% } else { %>
        <%- include('_posts', { posts }) %>
      <% } %>
    </div>
  </div>

  <div class="friends-communities">
    <h2>Friends</h2>
    <%- include('_friends', { friends: friends.friends }) %>
  </div>
</div>

<%- include('_footer') %>