<%- include('_header') %>

<h1><%= profile.name %>'s Profile</h1>

<form action="<%= profileUrl(profile.id, "/publish") %>" method="POST">
  <textarea name="message"></textarea>
  <input type="submit" value="Send" />
</form>

<% posts.map(entry => { %>
  <div><%= entry.authorName %> (<%= entry.author.slice(0, 8) %>): <%= entry.content.text %></div>
  <hr />
<% }) %>

<h2>Friends</h2>

<ul>
  <% friends.map(friend => { %>
    <li>
      <a href="<%= profileUrl(friend.content.contact) %>">
        <%= friend.content.contactName %> (<%= friend.content.contact.slice(0, 8) %>)
      </a>
    </li>
  <% }) %>
</ul>

<%- include('_footer') %>