<%- include('_header') %>

<h2>Results for "<%= query %>"</h2>

<ul>
  <% people.map(person => { %>
    <li>
      <a href="<%= profileUrl(person.author) %>">
        <%= person.content.name %> (<%= person.author.slice(0, 8) %>)
      </a>
    </li>
  <% }) %>
</ul>

<%- include('_footer') %>