<%- include('_header') %>

<% if (query.length < 3) { %>
  <h2>You need to search for 3 or more characters</h2>
<% } else { %>
  <h2>Results for "<%= query %>"</h2>

  <% people.map(person => { %>
      <a class="link-block" href="<%= profileUrl(person.author) %>">
        <img class="link-profile-pic" src="<%= profileImageUrl(person.authorProfile) %>" />
        <div><%= person.content.name %></div>
      </a>
  <% }) %>
<% } %>

<%- include('_footer') %>